<div class="booking-form">
  <%= form_with model: booking do |booking_form| %>
    <%= booking_form.hidden_field(:flight_id, value: booking.flight_id) %>
    <%= booking_form.fields_for :passengers do |passengers_form| %>
      <div class="passenger-container">
        <div>
          <p><%= "Passenger #{passengers_form.index + 1}" %></p>
        </div>
        <div>
          <%= passengers_form.label(:name, "Name") %>
          <%= passengers_form.text_field :name %>
        </div>
        <div>
          <%= passengers_form.label(:email, "Email") %>
          <%= passengers_form.email_field :email %>
        </div>
      </div>
    <% end %>
    <div class="button-container"><%= booking_form.submit %></div>
  <% end %>
</div>