<section class="booking-section confirmed">
  <div class="container">
    <div class="booking-details-wrapper hero">
      <h1>Your booking is confirmed</h1>
      <%= render "flight_details", flight: Flight.find(@booking.flight_id) %>
    </div>
    <dl>
    <% @booking.passengers.each_with_index do |passenger, index| %>
      <div class="passenger-container">
        <dt><b><%= "Passenger #{index + 1} Details" %></b></dt>
        <dd><%= "Name: #{passenger.name}" %></dd>
        <dd><%= "Email: #{passenger.email}" %></dd>
      </div>
    <% end %>
    </dl>
    <div class="button-container">
      <%= link_to "Make another booking", root_path %>
    </div>
  </div>
</section>